# OS
.DS_Store

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# node
node_modules

# dist
dist

# develop
.cache
bak
demo
test.js
