# OS
.DS_Store

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
workspace.code-workspace

# node
node_modules

# dist
dist

# develop
.graphqlconfig
.cache
bak
docs
demo
test.js

# .env file
.env